/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
    box-sizing: border-box;
    background-color: #f5f5f5;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px 156px;
    justify-content: center;
}

.gallery-item {
    list-style: none;
}

.gallery-image {
    display: block;
    object-fit: cover;
}

.gallery-image:hover {
    transform: scale(1.04);
}

div.sl-wrapper.simple-lightbox {
    background-color: rgba(46, 47, 66, 0.8);
}

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 360px;
    margin: 0 auto;
    
}

input {
    width: 360px;
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
}

input:focus,
input:hover {
    border-color: #2e2f42;
}

textarea {
    width: 360px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

textarea:focus {
    border-color: #2e2f42;
}

button {
    display: block;
    padding: 8px;
    border-color: transparent;
    border-radius: 8px;
    color: white;
    background-color: #4e75ff;
    
    width: 86px;
    height: 40px;
    text-align: center;
}

button:hover {
    background-color: #6c8cff;
}